html {
  /*overflow-y: scroll;*/
}

#portfolio .row {
  margin-bottom: 2rem;
}

figure {
  position: relative !important;
}

figure img {
  display: block !important;
}

figcaption {
  background: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  margin-right: 1rem;
  text-transform: uppercase;
}

.item img {
  width: 100%;
  height: 100%;
  display: block;
}

.isotope-item {
  /*margin: 5px;*/
}

.easy-modal { 
  background: white;   
  overflow-x: hidden;
  overflow-y: auto; 
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.easy-modal .container { 
  background-color: white; 
  color: darkslategrey;
}

.easy-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.easy-modal .modal-content h2 {
    margin-bottom: 15px;
    color: purple;
    font-size: 3em;
}

.easy-modal .modal-content p {
    margin-bottom: 30px;
}

.easy-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: {{ site.data.template.font.secondary }};
    font-size: 16px;
    font-style: italic;
}

.easy-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.easy-modal .modal-content img {
    margin-bottom: 30px;
}

.easy-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.easy-modal .close-modal:hover {
    opacity: .3;
}

.easy-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.easy-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #{{ site.data.template.color.primary }};
}

::selection {
    text-shadow: none;
    background: #{{ site.data.template.color.primary }};
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

/*.portfolio-item { padding-bottom: _size(element-margin); }*/
.portfolio-item { padding-bottom: 2em; }