 <!-- Portfolio Modals -->
 {% for post in site.posts %}
 <div class="row">
     <div class="easy-modal 12u" id="portfolioModal{{ post.modal-id }}" tabindex="-1">
        <div class="easy-modal-inner">
            <div class="easy-modal-close">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container u-full-width u-max-full-width">
                <div class="row">
                  <div class="modal-body 12u">
                      <h2>{{ post.title }}</h2>
                      <hr class="star-primary">
                      <img data-src="img/portfolio/{{ post.img }}" class="" alt="{{ post.alt }}">
                      <p>{{ post.description }}</p>
                      <ul class="list-inline item-details">
                          <li>Client:
                              <strong><a href="#">{{ post.client }}</a>
                              </strong>
                          </li>
                          <li>Date:
                              <strong><a href="#">{{ post.project-date }}</a>
                              </strong>
                          </li>
                          <li>Service:
                              <strong><a href="#">{{ post.category }}</a>
                              </strong>
                          </li>
                      </ul>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endfor %}

<style>

</style>