<!-- Portfolio Modals -->
{% for post in site.posts %}
<div id="results1" class="results">
  <div class="easy-modal 12u" id="portfolioModal{{ post.modal-id }}" tabindex="-1" style="top:0 !important;">
    <div class="easy-modal-inner">
      <div class="container u-full-width u-max-full-width">
        <div class="row">
          <div class="12u">
            <div class="easy-modal-close">
              <div class="lr">
                <div class="rl">
                </div>
              </div>
            </div>
            <h2>{{ post.title }}</h2>
            <img style="max-width: 90%;" class="lazyload" src="images/loading_spinner.gif" data-src="img/portfolio/{{ post.img }}" alt="{{ post.alt }}">
            <p>{{ post.description }}</p>
            <button type="button" style="float:right;" class="close cancel"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<!--[if IE]>
  <style>
    .image.fit {
    margin-bottom: 0px !important;
    }
    * { color: blue; }
  </style>
<![endif]-->
<style type="text/css">
  .easy-modal-inner .container { 
    padding-top: 100px; 
    min-height: 100%;
  }
  .easy-modal-close .lr {
    z-index: 1051;
    width: 1px;
    height: 55px;
    margin-left: 35px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #212529;
  }
  .easy-modal-close .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 55px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #212529;
    float-right;
  }
  .easy-modal-close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent
  }
  .easy-modal-close:hover {
    opacity: .3
  }
</style>