<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="u-max-full-width text-center">
      <h2 class="section-heading">Portfolio</h2>
      <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->

      <div class="button-group filter-button-group">
        {% for category in site.categories %}
        <a class="btn button" data-filter=".{{ category | first | slugify }}">{{ category | first }}</a> {% endfor %}
        <a class="btn button active" data-filter="*">All</a>
      </div>

    </div>


    <div class="box alt">
      <div class="row">
        {% for post in site.posts %}
        <div class="grid 4u">
          <div class="portfolio-item {{ post.category | slugify }}">
            <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img src="img/portfolio/{{ post.thumbnail }}" class="image fit" alt="">
            </a>
            <div class="caption">
              <h5>{{ post.title }}</h5>
              <!-- <p>{{ post.subtitle }}</p> -->
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</section>

<script>
  // init Isotope
  var $grid = $('.grid').isotope({
    // options
  });
  // filter items on button click
  $('.filter-button-group').on('click', 'a', function() {
    var filterValue = $(this).attr('data-filter');
    $grid.isotope({
      filter: filterValue
    });
  });

  $('.button-group a.button').on('click', function() {
    $('.button-group a.button').removeClass('active');
    $(this).addClass('active');
    console.log(filterValue);
  });


  $('div.modal').on('show.bs.modal', function() {
    var modal = this;
    var hash = modal.id;
    console.log(this);
    window.location.hash = hash;
    window.onhashchange = function() {
      if (!location.hash) {
        $(modal).modal('hide');
      }
    }
  });
</script>