<!-- Portfolio Grid Section -->
<h2 class="section-heading">Portfolio</h2>
<section id="portfolio" class="bg-light-gray portfolio">
  
  <div class="container">
    
    <div class="row">
      <div class="button-group filter-button-group">
        {% for category in site.categories %}
          <a class="btn button" data-filter=".{{ category | first | slugify }}">{{ category | first }}</a> {% endfor %}
          <a class="btn button active" data-filter="*">All</a>
        </div>
      </div>
      <div class="row grid">
        {% for post in site.posts %}
          <div class="4u 6u(small) 12u(xsmall) portfolio-item {{ post.category | slugify }}">
            <figure>
              <a href="#portfolioModal{{ post.modal-id }}" class="easy-modal-open">
                <img src="images/loading_spinner.gif" data-src="img/portfolio/{{ post.thumbnail }}" class="image fit lazyload" alt="{{ post.category | slugify }}">
                <figcaption> <h3>{{ post.title }}</h3> <!-- <p>{{ post.subtitle }}</p> --> </figcaption>
              </a>
            </figure>
          </div>
        {% endfor %}
      </div>
    </div>
    
  </section>